<table class="jumbotron-container">
  <tr class="jumbotron-row">
    <td class="jumbotron">
      This is some text
    </td>
  </tr>
  <%= javascript_include_tag "harvard_jumbotron" %>
</table>

<table class="subsequent">
  <tr><td class="subsequent cell"></td></tr>
  <tr><td class="subsequent cell"></td></tr>
  <tr><td class="subsequent cell"></td></tr>
  <tr><td class="subsequent cell"></td></tr>
  <%= javascript_include_tag "home_subsequent" %>
</table>
