$almost_white: #eee;
$bright_pink: #F0F;
$bright_purple: #60F;
$fuscia: #F06;

.jumbotron-container {
  width: 100%;
  height: 300px;
  margin-top: 10px;
  
  .jumbotron  { border: 1px solid $almost_white; }

  .jumbonav { border: 1px solid $almost_white;
              width: 400px; }
}//.jumbotron-container`

.subsequent {
  margin-top: 20px;
  width: 100%;

  .cell { border: 1px solid $almost_white;
          height: 200px;
          padding-top: 20px; }
}//.subsequent
