<!-- Code for the Masthead -->

<!-- This is for people who have JavaScript disabled -->
<noscript>
  <div id="masthead">
</noscript>

<canvas id="mastcanvas" height="60px" width="100%">
  <%= javascript_include_tag "mastcanvas" %>
</canvas>

<noscript>
  </div>
</noscript>
